$sizes: ("xs":666px, "sm":720px, "md":768px, "lg":992px, "xl":1200px);

:root {
    --section-bg-color: linear-gradient(165.52deg, #000F2E 29.9%, #000000 130.06%);
    --quote-bg-color: #002EAA;
    --natural-bg-color:#FFFFFF;
    --font-gray:#717783;
    --light-gray:rgba(255, 255, 255, 0.6);
    --font-dark-blue: #000F2E;
    --font-pink:#F3B4BD;
    --font-black:#000000;
    --font-light-gray:#CCCFD5;
    --button-orange:#E48038;
    --message-blue:#0045FF;
    --join-us-bg:#F9FAFE;
    --dry-green:#79D6B0;
    --light-blue:#4ea7f9;
    --purple-color:#5D51F2;
    --light-white:#F2F3F5;
    --light-white1:#fefcfe;
    --light-white2:aliceblue;
    --we-do-bg-color:linear-gradient(165.52deg, #000F2E 29.9%, #000000 130.06%);
    --purple-gradient:linear-gradient(90deg, rgba(123, 181, 231, 1) 0%, rgba(192, 173, 247, 1) 35%, rgba(179, 180, 249, 1) 100%);
    --pink-gradient:linear-gradient(90deg, rgba(217, 169, 176, 1) 0%, rgba(159, 183, 239, 1) 35%, rgba(148, 211, 244, 1) 100%);
    --dark-purple:linear-gradient(61deg, rgba(50,49,120,1) 0%, rgba(156,104,146,1) 84%, rgba(148,211,244,1) 100%);
    --light-pink-gradient:linear-gradient(61deg, rgba(224,130,151,1) 0%, rgba(239,180,179,1) 46%, rgba(228,147,148,1) 100%);
    --orange-gradient:linear-gradient(61deg, rgba(226,121,52,1) 0%, rgba(237,192,144,1) 25%, rgba(227,132,34,1) 72%);
    --pink-orange: linear-gradient(61deg, rgba(222,80,112,1) 0%, rgba(228,131,72,1) 56%, rgba(227,127,52,1) 100%);
    --pink-white: linear-gradient(61deg, rgba(224,101,176,1) 0%, rgba(234,173,179,1) 45%, rgba(243,214,178,1) 100%);
    --purple-blue: linear-gradient(61deg, rgba(58,56,119,1) 0%, rgba(129,138,247,1) 78%, rgba(207,197,213,1) 100%);
    --light-purple-gradient: linear-gradient(61deg, rgba(224,230,254,1) 0%, rgba(218,198,249,1) 36%, rgba(210,231,253,1) 100%);
    --dark-blue-gradient: linear-gradient(61deg, rgba(167,209,247,1) 0%, rgba(81,147,230,1) 36%, rgba(26,32,227,1) 100%);
    --light-pink: linear-gradient(61deg, rgba(249,234,184,1) 0%, rgba(234,182,152,1) 36%, rgba(157,75,99,1) 100%);

}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example->    @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);

/* base styles*/
*,*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}
*,body,html {
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
}
html {
    height:100%;
    font-size: 10px;
}
