.cx-header {
  background: #79D6B0;
  padding: 15rem 12.2rem 8.2rem;
  display: flex;
  justify-content: center;
}
.cx-header__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  max-width: 119.9rem;
  p{
    font-weight: 500;
    font-size: 11.48rem;
    line-height: 80%;
    margin: 0;
    color: #000000;
  }
  .info-text{
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.8rem;
    color: #000000;
  }
  img{    overflow: auto;}
  .info-line1{
    display: flex;
    gap: 6rem;
    align-items: center;
  }
  .info-line2{
    display: flex;
    gap: 6rem;
    align-items: center;
  }
}
.cx-persona{
  &__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 11rem 11.8rem;
  }
    &-title{
      max-width: 60rem;
      text-align: center;
      h2 {
        font-weight: 700;
        font-size: 5.4rem;
        line-height: 5.4rem;
        color: #000F2E;
        margin: 0;
      }
      mark {
        background: linear-gradient(61deg, rgba(203,234,185,1) 0%, rgba(154,221,163,1) 33%, rgba(92,204,150,1) 96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &-subtitle{
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 2.2rem;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #002EAA;
      margin: 4.7rem 0 5.6rem;
    }
    &-text{
      display: flex;
      gap: 3.2rem;
      p{
        font-weight: 300;
        font-size: 2rem;
        line-height: 3.2rem;
        color: #717783;
        margin: 0;
        max-width: 48.3rem;
      }
    }
    &-img{
      &__img1{
        img{
          position: absolute;
          right:20%;
        }
      }
      &__img2{
        margin-top:10.5rem;
      }
    }
}
.cx-design{
  &__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 11rem 11.8rem;
  }
  &-title{
    max-width: 60rem;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 5.4rem;
      line-height: 5.4rem;
      color: #000F2E;
      margin: 0;
    }
    mark {
      background: linear-gradient(61deg, rgba(225,212,100,1) 0%, rgba(222,124,72,1) 33%, rgba(212,98,124,1) 63%, rgba(216,125,45,1) 100%);      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &-subtitle{
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #002EAA;
    display: flex;

    margin: 3rem 0 0.9rem;
  }
  &-text{
    display: flex;
    gap: 3.2rem;
    p{
      font-weight: 300;
      font-size: 2rem;
      line-height: 3.2rem;
      color: #717783;
      margin: 0;
      max-width: 48.3rem;
    }
  }
  &-img{
    &__img2{
      img{
        position: absolute;
        right:20%;
      }
    }
    &__img1{
      margin: 11.2rem 0 10rem;
    }
  }
}