.quote{
  background: #002EAA;
}
.quote__wrapper {
  padding: 11.7rem 12rem 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.ncf-line img {
  width: 4.3rem;
  height: 4.3rem;
  right: 2.5rem;
  top: 2.4rem;
  position: relative;

}

.quote-text {
  font-size: 4.1rem;
  line-height: 7.2rem;
  color: #FFFFFF;
}

.quote-text span {
  color: #F3B4BD;
}
@media screen and (max-width: 1024px) {
  .quote-text {
    font-size: 3.1rem;
    line-height: 6.2rem;
  }
}

@media screen and (max-width: 768px) {
  .quote__wrapper {
    padding: 6rem 2rem 4.5rem 2rem;
  }
  .quote-text {
    font-size: 2.1rem;
    line-height: 4.2rem;
  }
}