.strategy{

}
.strategy-header {
  background: #FCF089;
  padding: 15rem 12.2rem 8.2rem;
  display: flex;
  justify-content: center;
}
.strategy-header__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  max-width: 120.4rem;
  p{
    font-weight: 400;
    font-size: 12.1rem;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 0;
    min-width: fit-content;
  }
  .info-text{
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.8rem;
    color: #000000;
  }
  img{    overflow: auto;}
  .info-line1{
    display: flex;
    gap: 6rem;
    align-items: center;
  }
  .info-line2{
    display: flex;
    gap: 6rem;
    align-items: center;
  }
}
.strategy-digital{
  &__wrapper{
    margin: 14rem 11.8rem 0;
  }
&-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__subtitle{
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--quote-bg-color);
    margin:4rem 0 5.6rem ;
  }
  h2 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: var(--font-dark-blue);
    margin: 0;
  }

  mark {
    background: var(--light-pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.2rem;
    color: var(--font-gray);
    margin: 0;
    max-width: 99.8rem;
  }

  a {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: var(--message-blue);
    border: none;
    background: none;
    gap: 0.8rem;
  }

  .strategy-digital-heading__text {
    display: flex;
    gap: 5.6rem;
  }
}
}
.strategy-scoping{
  &__wrapper{
    margin: 3.5rem 12rem 11rem;
  }
  &-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
    .strategy-scoping__subtitle{
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 100%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--quote-bg-color);
      margin:4rem 0 5.6rem ;
    }
    h2 {
      font-weight: 700;
      font-size: 5.4rem;
      line-height: 5.4rem;
      color: var(--font-dark-blue);
      margin: 0;
    }

    mark {
      background: var(--purple-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-weight: 300;
      font-size: 2rem;
      line-height: 3.2rem;
      color: var(--font-gray);
      margin: 0;
      max-width: 79.2rem;
    }

    a {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.4rem;
      display: inline-flex;
      align-items: center;
      text-align: center;
      color: var(--message-blue);
      border: none;
      background: none;
      gap: 0.8rem;
    }
  }

}
.strategy-product {
  background: var(--quote-bg-color);

  &__wrapper {
    overflow: hidden;
    padding: 12rem 0 13.9rem 12rem;
  }

  &-title {
    display: flex;
    font-weight: 700;
    font-size: 24.1rem;
    line-height: 24.1rem;
    color: #FFFFFF;
    min-width: max-content;
  }

  &-sub {
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--font-pink);
    margin: 5.4rem 0 4.5rem;
  }

  &-text {
    display: flex;

    p {
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 3.8rem;
      color: #CCCFD5;
      margin: 0;
      max-width: 99.3rem;
    }
  }
}
.strategy-user-research{
  &__wrapper{
    margin: 18rem 12rem 14rem;
    display: flex;
    gap: 13.6rem;
  }
  &-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .strategy-user-research__subtitle{
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 100%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--quote-bg-color);
      margin:4rem 0 4rem;
    }
    h2 {
      font-weight: 700;
      font-size: 5.4rem;
      line-height: 5.4rem;
      color: var(--font-dark-blue);
      margin: 0;
    }

    mark {
      background: var(--orange-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-weight: 300;
      font-size: 2rem;
      line-height: 3.2rem;
      color: var(--font-gray);
      margin: 0;
      max-width: 58.6rem;
    }

    a {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.4rem;
      display: inline-flex;
      align-items: center;
      text-align: center;
      color: var(--message-blue);
      border: none;
      background: none;
      gap: 0.8rem;
    }
  }

}
.strategy-road {
  &__wrapper {
    padding: 14rem 12rem 19.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px dashed #000F2E;

    .strategy-road-subtitle {
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 100%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--quote-bg-color);
      margin: 4rem 0 5.6rem;
    }

    h2 {
      font-weight: 700;
      font-size: 5.4rem;
      line-height: 5.4rem;
      color: var(--font-dark-blue);
      margin: 0;
    }

    mark {
      background: var(--purple-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-weight: 300;
      font-size: 2rem;
      line-height: 3.2rem;
      color: var(--font-gray);
      margin: 0;
      max-width: 99.4rem;
    }

    a {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.4rem;
      display: inline-flex;
      align-items: center;
      text-align: center;
      color: var(--message-blue);
      border: none;
      background: none;
      gap: 0.8rem;
    }
  }
}
@media screen and (max-width: 666px){
  .strategy-header {
    padding: 10rem 2rem 4.5rem 2rem;
  }
  .strategy-header__wrapper .info-text {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .strategy-header__wrapper {max-width: none;width: 100%;gap: 2rem;
    .info-line1,.info-line2{gap: 1rem;}}
  .strategy-header__wrapper p{
    font-size: 3rem;
  }
  .strategy-road,.strategy-digital, .strategy-scoping, .strategy-product,.strategy-user-research{
   &-title{
     font-size: 5.1rem;
     line-height: 11.1rem;
   }
    &-heading{padding: 0;
      &__subtitle {
        font-size: 1.6rem;
        margin: 2rem 0 2.6rem;
      }}
    .strategy-scoping__subtitle, .strategy-product-sub, .strategy-user-research__subtitle,.strategy-road-subtitle {
      font-size: 1.6rem;
      margin: 2rem 0 2.6rem;

    }
    &__wrapper {
        padding: 0;
        margin: 4rem 2rem 4.5rem 2rem;
      flex-direction: column;
      gap: 2rem;
      h2 {
        font-size: 3.4rem;
        line-height: 3.4rem;
      }
      p {
        font-size: 2rem;
        line-height: 3.2rem;
      }

      a {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
  }
  .strategy-product{
    &__wrapper {
      padding: 4rem 2rem 4.5rem 2rem;
      margin: 0;
    }
  }
}
