.strategy-header {
  background: #FCF089;
  padding: 15rem 12.2rem 8.2rem;
  display: flex;
  justify-content: center;
}
.strategy-header__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  max-width: 120.4rem;
  p{
    font-weight: 400;
    font-size: 12.1rem;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 0;
    min-width: fit-content;
  }
  .info-text{
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.8rem;
    color: #000000;
  }
  img{    overflow: auto;}
  .info-line1{
    display: flex;
    gap: 6rem;
    align-items: center;
  }
  .info-line2{
    display: flex;
    gap: 6rem;
    align-items: center;
  }
}
@media screen and (max-width: 666px){
  .strategy-header {
    padding: 10rem 2rem 4.5rem 2rem;
  }
  .strategy-header__wrapper .info-text {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .strategy-header__wrapper {max-width: none;width: 100%;gap: 2rem;
    .info-line1,.info-line2{gap: 1rem;}}
  .strategy-header__wrapper p{
    font-size: 3rem;
  }
}
