.header-tech {
  background: #5D51F2;
  padding: 15rem 12.2rem 8.2rem;
  display: flex;
  justify-content: center;
}
.header-tech__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  max-width: 120.4rem;
  span{
    font-weight: 400;
    font-size: 6.1rem;
    line-height: 80%;
  }
  p{
    font-weight: 400;
    font-size: 12.1rem;
    line-height: 110%;
    letter-spacing: 0.02em;
    margin: 0;
    color: var(--natural-bg-color);
    min-width: fit-content;
  }
  .info-text{
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.8rem;
    color: var(--natural-bg-color);
  }
  img{    overflow: auto;}
  .info-line1{
    display: flex;
    gap: 6rem;
    align-items: center;
    width: 101%;
  }
  .info-line2{
    display: flex;
    gap: 6rem;
    align-items: center;
    width: 101%;
  }
}

.mobile-dev {
  height: 275rem;
  background: var(--natural-bg-color);
  margin: 12rem 11.8rem 0;
}

.mobile-dev__img1, .mobile-dev__img2, .mobile-dev__img3, .mobile-dev__img4 {
  position: sticky;
}

.mobile-dev__img2, .mobile-dev__img3, .mobile-dev__img4 {
  display: none;
}

.mobile-dev__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.6rem;

  h2 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: var(--font-dark-blue);
    margin: 0;
  }

  mark {
    background: var(--purple-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.2rem;
    color: var(--font-gray);
    max-width: 46.9rem;
    margin: 0;
  }

  a {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: var(--message-blue);
    border: none;
    background: none;
    gap: 0.8rem;
  }

  .mobile-dev__text {
    display: flex;
    gap: 5.6rem;
  }
}

.mobile-dev__scroller {
  margin-top: 14rem;
  display: flex;
  justify-content: center;
}

.padding-scroll1 {
  padding-top: 12.5rem;
}

.scroller-menu-text__img4 {
  max-width: 58.6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 40rem;
}

.scroller-menu {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .scroller-menu-text {
    max-width: 58.6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 60rem;
  }

  h2 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: var(--font-dark-blue);
    margin: 0;
  }

  p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.2rem;
    color: var(--font-gray);
    margin: 0;
  }

}

.web-dev-menu {
  display: flex;
  gap: 13.9rem;
}

.web-dev-menu__items {
  display: flex;
  flex-wrap: wrap;
  min-width: 58.6rem;
  gap: 3.2rem;
}

.web-dev-menu__text {
  display: flex;
  flex-direction: column;

  h4 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: var(--natural-bg-color);
    margin: 0 0 3.2rem 0;
  }

  p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--font-light-gray);
    margin: 0;
  }
}

.web-dev {

  background: var(--quote-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    max-width: 144rem;
    padding: 12rem;
    display: flex;
    flex-direction: column;
    gap: 12rem;
  }

  &-item {
    width: 27.7rem;

    h3 {
      font-weight: 600;
      font-size: 3.4rem;
      line-height: 3.4rem;
      color: var(--natural-bg-color);
      margin: 1.6rem 0 3.2rem;
    }

    p {
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: var(--font-light-gray);
      margin: 0;
    }
  }

  .web-dev-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    h2 {
      font-weight: 700;
      font-size: 7.2rem;
      line-height: 7.2rem;
      text-align: center;
      color: var(--natural-bg-color);
      margin: 0;
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 3.8rem;
      text-align: center;
      color: #F2F3F5;
      text-decoration: none;
      gap: 0.8rem;
    }

    p {
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 3.8rem;
      text-align: center;
      color: #F2F3F5;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
  }
}

.web-dev-padding {
  padding: 10.8rem 0;
}

.support__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  padding-bottom:7.7rem;
}
.support{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 14rem 11.8rem 18.2rem;
}
.support-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  h2 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: #000F2E;
    margin: 0;
  }
  mark {
    background: linear-gradient(90deg, rgba(217, 169, 176, 1) 0%, rgba(159, 183, 239, 1) 35%, rgba(148, 211, 244, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.8rem;
    color: #717783;
    text-align: center;
    margin: 0;
    max-width: 99.8rem;
  }
}
.support__agile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25.3rem;
  .support-agile-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  h2 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: #000F2E;
    margin: 0;
  }
  mark {
    background: linear-gradient(61deg, rgba(50,49,120,1) 0%, rgba(156,104,146,1) 84%, rgba(148,211,244,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.2rem;
    color: #717783;
    text-align: center;
    margin: 0;
    max-width: 79.2rem;
  }
}
.support__product{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-bottom: 18rem;
  gap: 3.2rem;
  .support-product-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  h2 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: #000F2E;
    margin: 0;
  }
  mark {
    background: linear-gradient(61deg, rgba(224,130,151,1) 0%, rgba(239,180,179,1) 46%, rgba(228,147,148,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.2rem;
    color: #717783;
    margin: 0;
    max-width: 58.6rem;
  }
}
.support__line{
  width: 100%;
  height: 1px;
  border: 1px dashed #000F2E;

}
.support__qa-cloud{
  display: flex;
  justify-content: space-between;
  max-width: 144rem;
  gap: 17rem;
}
.support-quality{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 4rem;
  padding-top: 18rem;

  .support-quality__text{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 51.5rem;
  }
  h2 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: #000F2E;
    margin: 0;
  }
  mark {
    background: linear-gradient(61deg, rgba(226,121,52,1) 0%, rgba(237,192,144,1) 25%, rgba(227,132,34,1) 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.2rem;
    color: #717783;
    margin: 0;
  }
  .support-img{
    width: 51.5rem;
  }
}
.support-cloud{
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
  padding-top: 41.2rem;
  .support-cloud__text{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 51.5rem;
  }
  h2 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: #000F2E;
    margin: 0;
  }
  mark {
    background: linear-gradient(61deg, rgba(213,165,183,1) 0%, rgba(135,170,238,1) 18%, rgba(135,223,247,1) 57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.2rem;
    color: #717783;
    margin: 0;
  }
  .support-img{
    width: 51.5rem;
  }
}

@media screen and (max-width: 768px) {
  .padding-scroll1{padding: 0;}
  .scroller-menu .scroller-menu-text{height: 45rem;}
  .mobile-dev{height: 100%;margin-bottom: 10rem;}
  .scroller-track{display: none;}
}
@media screen and (max-width: 666px) {
  .support__qa-cloud{flex-direction: column;}
  .web-dev-menu{flex-direction: column;}
  .web-dev__wrapper{
    width: 100%;
    padding: 6rem 2rem 4.5rem 2rem;
  }
  .support-cloud{padding: 0;}
  .support__product{flex-direction: column;gap: 5rem;}
  .support__agile .support-agile-text{
    text-align: center;
  }
  .mobile-dev{height: 100%;margin: 10rem 2rem;}
  .mobile-dev__heading .mobile-dev__text{flex-direction: column;}
  .technology__wrapper h2{font-size: 3.4rem;line-height: 3.4rem;}
  .scroller-menu{gap: 5rem;}
  .web-dev-menu__items{min-width: auto;}
  .web-dev-padding{padding: 0;}
  .web-dev .web-dev-heading h2{font-size: 4.4rem;line-height: 4.4rem;}
  .support{margin: 6rem 2rem 4.5rem 2rem;}
  .support-quality .support-img{width: 100%;}
  .support-cloud .support-img{width: 100%;}
  .header-tech{
    padding: 10rem 2rem 4.5rem 2rem;
  }
  .header-tech__wrapper .info-text {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .header-tech__wrapper {max-width: none;width: 100%;gap: 2rem;
  .info-line1,.info-line2{gap: 1rem;}}
  .header-tech__wrapper p{
    font-size: 3rem;
  }
  .web-dev-menu__text h4 {font-size: 4.4rem;}
  }
