<div class="career">
    <div class="career__wrapper">
        <div class="career-title">Could Aman dgtl be your next career move? </div>
        <div class="career-subtitle">We offer</div>
        <div class="career-skills">
            <div class="career-skills__item"><img src="../assets/career-1.png"/><p>Unique projects</p></div>
            <div class="career-skills__item"><img src="../assets/career-2.png"/><p>High-profile clients</p></div>
            <div class="career-skills__item"><img src="../assets/career-3.png"/><p> Professional development</p></div>
            <div class="career-skills__item"><img src="../assets/career-4.png"/><p>Work/Life balance</p></div>
            <div class="career-skills__item"><img src="../assets/career-5.png"/><p>Long-term commitment</p></div>
        </div>
    </div>
    <div class="career__wrapper2">
        <div class="career-join-us">
            <div class="career-join-us__img">
                <img src="../assets/join-us-bg.svg"/>
            </div>
            <div class="career-join-us__wrapper">

                <div class="join-text">
                    <h4>What have you got to offer?</h4>
                    <p>Let's talk about it over coffee</p>
                </div>
                <div class="join-button">
                    <button class="fancybox-form">Join Us</button>
                </div>
            </div>
        </div>
        <div class="career-form">
            <div class="career-form__text">
                <h2>Let’s have a coffee and talk dgtl</h2>
                <p>We love what we do, and we love talking about it. So, why not come in for a chat. We'll be happy to throw around thoughts and ideas and share what we know about the latest digital trends. </p>
                <div class="career-coffee-text">We're certain you'll leave with more knowledge and feeling inspired.</div>
            </div>
            <form class="career-form__inputs" id="subscribe-form">
                <input type="text" name="name" placeholder="Name" required/>
                <div class="form-dual-inputs">
                    <div style="width: 100%"><input type="email" name="email" placeholder="Email" required/></div>
                    <div style="width: 100%"><input class="tel-mask" type="phone" name="phone" placeholder="Phone" required/></div>
                </div>
                <input type="message" placeholder="Message"/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>