<div class="career">
    <div class="career__wrapper">
        <div class="career-title">Could Aman dgtl be your next career move? </div>
        <div class="career-subtitle">We offer</div>
        <div class="career-skills">
            <div class="career-skills__item"><img src="../assets/career-1.png"/><p>Unique projects</p></div>
            <div class="career-skills__item"><img src="../assets/career-2.png"/><p>High-profile clients</p></div>
            <div class="career-skills__item"><img src="../assets/career-3.png"/><p> Professional development</p></div>
            <div class="career-skills__item"><img src="../assets/career-4.png"/><p>Work/Life balance</p></div>
            <div class="career-skills__item"><img src="../assets/career-5.png"/><p>Long-term commitment</p></div>
        </div>
    </div>
</div>