<div class="cx">
    <div class="cx__wrapper">
        <section class="cx-header">
            <div class="cx-header__wrapper">
                <div class="info-line1">
                    <img src="../assets/cx-1.svg"/>
                    <p>CUSTOMER</p>
                </div>
                <div class="info-line2">
                    <p>EXPERIENCE</p>
                    <img src="../assets/cx-2.svg"/>
                </div>
                <div class="info-text">
                    Creating a unified, high-quality digital customer experience ensures customers feel valued. Putting ourselves in an omnichannel mindset, we map the various digital channels and assets of a brand in order to understand relationships between them.
                    <br><br>
                    We then connect the data behind those channels to create an enhanced, seamless user experience.
                </div>
            </div>
        </section>
    </div>
</div>