<div class="featured">
    <div class="featured__wrapper">
        <div class="project-title">Featured Projects</div>
        <a href="#" class="project-content">
            <div class="project-content__name">Shufersal</div>
            <div class="project-content__desc">Supreme support for shufersal’s new loyalty program</div>
        </a>
        <div class="featured-line"></div>
        <a href="#" class="project-content">
            <div class="project-content__name">Bank Hapoalim</div>
            <div class="project-content__desc">Bank Hopoalim is banking on us</div>
        </a>
        <div class="featured-line"></div>
        <a href="#" class="project-content">
            <div class="project-content__name">Yellow</div>
            <div class="project-content__desc">Fueling Paz’s digital journey, from A to Z</div>
        </a>
        <div class="featured-line"></div>
        <a href="#" class="project-content">
            <div class="project-content__name">Covid Tech</div>
            <div class="project-content__desc">Stepping up in testing times</div>
        </a>
        <div class="featured-line"></div>
        <a href="#" class="project-content">
            <div class="project-content__name">Catch App</div>
            <div class="project-content__desc">Catch App concept catches on</div>
        </a>
    </div>
</div>