<!-- FOOTER -->
<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer-subs">
            <div class="footer-subs__wrapper">
                <div class="footer-subs-wrapper">
                    <form class="footer-subs-wrapper__inner" id="subscribe-form">
                        <h2>Subscribe to our newsletter</h2>
                        <div class="footer-subs-wrapper-email">
                            <input type="email" name="email" placeholder="Enter your email" required/>
                            <button type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-subs__line"></div>
        </div>

        <div class="footer-menu">
            <div class="footer-menu__logo">
                <div class="footer-logo"><img src="../assets/Logo.png"/></div>
                <div class="footer-logo-text"><p>Shimshon 9, Petah Tikva (Lexus Building) +972 73-261-7417</p></div>
            </div>
            <div class="footer-menu__wrapper accordion" id="accordion">
                <div class="footer-menu-items accordion__item">
                    <div class="footer-menu-items__title accordion__title">
                        <h4>Capabilities</h4>
                    </div>
                    <div class="footer-menu-items__text accordion__content">
                        <div class="footer-menu-list">
                            <a href="#">Strategy</a>
                            <a href="#">Technology</a>
                            <a href="#">Customer Experience</a>
                            <a href="#">Solutions</a>
                        </div>
                    </div>
                </div>
                <div class="footer-menu-items accordion__item">
                    <div class="footer-menu-items__title accordion__title">
                        <h4>Company</h4>
                    </div>
                    <div class="footer-menu-items__text accordion__content">
                        <div class="footer-menu-list">
                        <a href="#">About Us</a>
                        <a href="#">News & Events</a>
                        <a href="#">Academy</a>
                        <a href="#">Careers</a>
                        <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="footer-menu-items accordion__item">
                    <div class="footer-menu-items__title accordion__title">
                        <h4>Insights Center</h4>
                    </div>
                    <div class="footer-menu-items__text accordion__content">
                        <div class="footer-menu-list">
                        <a href="#">Customer Experience</a>
                        <a href="#">Product Management</a>
                        <a href="#">Business & Growth</a>
                        <a href="#">Innovations</a>
                        <a href="#">Digital Transformation</a>
                        </div>
                    </div>
                </div>
                <div class="footer-menu-items accordion__item">
                    <div class="footer-menu-items__title accordion__title">
                        <h4>Case Studies</h4>
                    </div>
                    <div class="footer-menu-items__text accordion__content">
                        <div class="footer-menu-list">
                        <a href="#">Shufersal</a>
                        <a href="#">Bank Hapoalim</a>
                        <a href="#">Yellow</a>
                        <a href="#">Corona</a>
                        <a href="#">Catch App</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-social">
            <div class="footer-social__icons">
                <div class="social-logo"><img src="../assets/Logo (1).png" alt="#"/></div>
                <p>Follow us</p>
                <div class="social-icons">
                    <a class="social-icons__inst" href="#"><img src="../assets/Instagram.png" alt="#"/></a>
                    <a class="social-icons__fb" href="#"><img src="../assets/Facebook.png" alt="#"/></a>
                    <a class="social-icons__in" href="#"><img src="../assets/Linkedin.png" alt="#"/></a>
                </div>
            </div>
            <div class="footer-social__digital">
                <p>Legal</p>
                <p>© 2022 Aman Digital, LTD.</p>
            </div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
