<!-- HEADER -->
<header class="header">
    <div class="header-menu">
        <a href="index.html" class="header-menu__logo"><img src="../assets/Logo-index.svg"/></a>
        <div class="header-menu__wrapper">
            <ul>
                <li><a href="#">what we do</a></li>
                <li><a href="#">solutions</a></li>
                <li><a href="#">case studies</a></li>
                <li><a href="#">insights center</a></li>
                <li><a href="careers.html">careers</a></li>
            </ul>
            <button class="header-burger"><img src="../assets/Menu.svg"/></button>
        </div>
    </div>
    <div id="myNav" class="header-navbar">
        <a href="index.html" class="header-nav-logo"><img src="../assets/Logo.png"/></a>
        <div class="header-navbar__content">
            <div class="header-nav-menu accordion1" id="accordion1">
                <div class="header-nav-menu__wrapper accordion__item1">
                    <div class="nav-menu-title accordion__title1">What we do</div>
                    <div class="nav-menu-subtitle accordion__content1">
                        <ul>
                            <li><a href="Cx.html">Customer experience</a></li>
                            <li><a href="Strategy.html">Strategy</a></li>
                            <li><a href="Technology.html">Technology</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-nav-menu__wrapper accordion__item1">
                    <div class="nav-menu-title accordion__title1">Case Studies</div>
                    <div class="nav-menu-subtitle accordion__content1">
                        <ul>
                            <li><a href="#">Shufersal</a></li>
                            <li><a href="#">Bank Hapoalim</a></li>
                            <li><a href="#">Yellow</a></li>
                            <li><a href="#">Corona</a></li>
                            <li><a href="#">Catch App</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-nav-submenu">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <div class="social-icons">
                    <a class="social-icons__inst" href="#"><img src="../assets/Instagram.png" alt="#"/></a>
                    <a class="social-icons__fb" href="#"><img src="../assets/Facebook.png" alt="#"/></a>
                    <a class="social-icons__in" href="#"><img src="../assets/Linkedin.png" alt="#"/></a>
                </div>
            </div>
        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    <div class="header__right-nav-bar">
        <div class="social-icons">
            <a class="social-icons__inst" href="#"><img src="../assets/Instagram.png" alt="#"/></a>
            <a class="social-icons__fb" href="#"><img src="../assets/Facebook.png" alt="#"/></a>
            <a class="social-icons__in" href="#"><img src="../assets/Linkedin.png" alt="#"/></a>
        </div>
    </div>
    <a href="#" class="header__message">
        <div class="message-wrapper">
            <div>
                <div class="message-wrapper__title">Contact Us</div>
                <div class="message-wrapper__subtitle">Let’s talk dgtl</div>
            </div>
            <div class="message-wrapper__img"><img src="../assets/Chat_duotone.svg"/></div>
        </div>
        <div class="message-line"></div>
    </a>
</header>
