    <div class="header__info">
        <div class="info-line1">
            <span>We</span>
            <img src="../assets/index-1.jpg"/>
            <p>plan</p>
        </div>
        <div class="info-line2">
            <p>create</p>
            <img src="../assets/index-2.jpg"/>
            <p>design</p>
        </div>
        <div class="info-line3">
            <p>build</p>
            <img src="../assets/index-3.jpg"/>
            <span>your</span><span>digital</span><span>future</span>
        </div>
    </div>