<div class="insights-center">
    <div class="insights-center__wrapper">
        <div class="insights-content">
            <div>
                <div class="insights-content__title">Insights Center</div>
                <div class="insights-content__subtitle">The latest news, views and reviews</div>
            </div>
            <div class="insights-slider__buttons">
                <button class='slide-prev btn btn-primary me-1'><img src="../assets/btnslider.png"/></button>
                <button class='slide-next btn btn-primary'><img src="../assets/btnslider.png"/></button>
            </div>
        </div>
        <div class="insights-slider">
            <div class="insights-slider__wrapper ">
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">Bet you will play - how to create an addictive customer experience</div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider1.png"></div>
                    <div class="insights-slider-item__subtitle">Bet you will play - how to create an addictive customer experience how to create an addictive customer ...</div>
                    <div class="insights-slider-item__design">
                        <div class="design-box">Product design</div>
                        <p>OCT 3, 2022</p>
                    </div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">Does roaming offer a better user experience in digital products?</div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider2.png"></div>
                    <div class="insights-slider-item__subtitle">Bet you will play - how to create an addictive customer experience how to create an addictive customer ...</div>
                    <div class="insights-slider-item__design">
                        <div class="design-box">Product design</div>
                        <p>OCT 3, 2022</p>
                    </div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">Implementation of a digital transformation process, from...</div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider3.png"></div>
                    <div class="insights-slider-item__subtitle">Bet you will play - how to create an addictive customer experience how to create an addictive customer ...</div>
                    <div class="insights-slider-item__design">
                        <div class="design-box">Product design</div>
                        <p>OCT 3, 2022</p>
                    </div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">Bet you will play - how to create an addictive customer experience</div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider4.png"></div>
                    <div class="insights-slider-item__subtitle">Bet you will play - how to create an addictive customer experience how to create an addictive customer ...</div>
                    <div class="insights-slider-item__design">
                        <div class="design-box">Product design</div>
                        <p>OCT 3, 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

