<div class="insights-center">
    <div class="insights-center__wrapper">
        <div class="insights-content">
            <div class="insights-content__img"><img src="../assets/Bulb.png"/></div>
            <div class="insights-content__title">Insights Center</div>
            <div class="insights-content__subtitle">The latest news, views and reviews</div>
        </div>
        <div class="insights-slider ">
            <div class="insights-slider__wrapper mcs-horizontal">
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider1.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider2.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider3.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider4.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider1.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider2.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider3.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider4.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider1.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider2.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider3.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider4.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider1.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider2.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider3.png"></div>
                </div>
                <div class="insights-slider-item">
                    <div class="insights-slider-item__title">e-Wallets in the digital age</div>
                    <div class="insights-slider-item__subtitle">Through constant innovations, payments become more
                        efficient and convenient for buyers using online platforms.
                    </div>
                    <div class="insights-slider-item__img"><img src="../assets/Slider4.png"></div>
                </div>
            </div>
        </div>
        <div class="design-blue-block"></div>
    </div>
</div>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>

</script>