<div class="quote">
  <div class="quote__wrapper">
    <div class="ncf-line"><img src="../assets/NFC_duotone_line.png"/></div>
    <div class="quote-text">
      <span>Pushing all the boundaries</span>, to keep you at the forefront, we provide end-to-end <span>solutions</span> from <span>business strategies</span> to product definition, all the way through to <span>product design</span> and development, always ensuring the customer experience is <span>smooth, innovative</span> and <span>exciting</span>.
    </div>
  </div>
</div>