<div class="what-we-do">
    <div class="what-we-do__wrapper">
        <div class="what-we-title">What we do.</div>
        <div class="what-we-subtitle"><p>Whether you’re a Fortune 500 company or a startup in stealth mode, we provide digital solutions grounded in solid business sense, that will give you an edge now, and into the future.</p></div>
        <div class="what-we-list">
            <div class="what-we-list__wrapper">
                <div>
                    <div class="list-item-heading">think</div>
                    <div class="list-item-title">Strategy</div>
                    <div class="list-item-text">We deliver true value by carrying out market research, creating a strategy, and developing a roadmap that will lay the foundations for your digital transformation. </div>
                </div>
                <div class="list-item-more">
                    <button><p>Learn more</p><img src="../assets/Arrow.png"/></button>
                </div>
            </div>
            <div class="what-we-list__wrapper">
                <div>
                    <div class="list-item-heading">Design</div>
                    <div class="list-item-title">CX</div>
                    <div class="list-item-text">Today’s digital world dictates that in order to cover the entire customer journey, increase brand loyalty and build solid relationships with customers, organizations must place there focus on CX.</div>
                </div>
                <div class="list-item-more">
                    <button><p>Learn more</p><img src="../assets/Arrow.png"/></button>
                </div>
            </div>
            <div class="what-we-list__wrapper">
                <div>
                    <div class="list-item-heading">Code</div>
                    <div class="list-item-title">Technology</div>
                    <div class="list-item-text">Offering the precise technology you need, whether sourced, adapted or developed in-house, we overcome every challenge, support new lines of business and maximize business value.</div>
                </div>
               <div class="list-item-more">
                    <button><p>Learn more</p><img src="../assets/Arrow.png"/></button>
                </div>
            </div>
        </div>
    </div>
</div>