<section class="category-main">
  <div class="category-main__wrapper">
    <h2>Категории</h2>
    <div class="category-main__cards">
      <div class="category-card">
        <img src="/assets/category-pic2.png"/>
        <div class="category-card__inner">
          <img src="/assets/category-logo1.svg"/>
          <h3>Intimo</h3>
          <p>Комплекты белья</p>
        </div>
      </div>
      <div class="category-card">
        <img src="/assets/category-pic1.png"/>
        <div class="category-card__inner">
          <img src="/assets/category-logo2.svg"/>
          <h3>Chill</h3>
          <p>Бюсты</p>
        </div>
      </div>
      <div class="category-card">
        <img src="/assets/category-pic2.png"/>
        <div class="category-card__inner">
          <img src="/assets/category-logo1.svg"/>
          <h3>Intimo</h3>
          <p>Комплекты белья</p>
        </div>
      </div>
      <div class="category-card">
        <img src="/assets/category-pic2.png"/>
        <div class="category-card__inner">
          <img src="/assets/category-logo1.svg"/>
          <h3>Intimo</h3>
          <p>Комплекты белья</p>
        </div>
      </div>
      <div class="category-card">
        <img src="/assets/category-pic1.png"/>
        <div class="category-card__inner">
          <img src="/assets/category-logo2.svg"/>
          <h3>Chill</h3>
          <p>Бюсты</p>
        </div>
      </div>
      <div class="category-card">
        <img src="/assets/category-pic2.png"/>
        <div class="category-card__inner">
          <img src="/assets/category-logo1.svg"/>
          <h3>Intimo</h3>
          <p>Комплекты белья</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="new-main">
  <div class="new-main__wrapper">
    <h2>Что нового?</h2>
    <div class="new-main__cards">
      <div class="new-card">
        <img src="/assets/new-pic4.png"/>
        <div class="new-card__inner">
          <ul>
            <li>75В</li>
            <li>75В</li>
            <li>75В</li>
            <li>75В</li>
            <li>75В</li>
          </ul>
          <p>Комплект из кружева</p>
          <h4>379 грн</h4>
          <div class="button-fill">купить</div>
        </div>
      </div>

    </div>
  </div>
</section>