<section class="first-sect">
    <div class="first-sect__wrapper">
        <h1>Lingeria</h1>
        <div class="subtitle-h1">shop.shop.shop.shop.shop.</div>
        <div class="circle">
            <svg viewBox="0 0 100 100" width="188" height="188">
                <defs>
                    <path id="circle"
                          d="
        M 50, 50
        m -37, 0
        a 37,37 0 1,1 74,0
        a 37,37 0 1,1 -74,0"/>
                </defs>
                <text font-size="17">
                    <textPath xlink:href="#circle">
                        New Collection New Collection
                    </textPath>
                </text>
            </svg>
        </div>
        <div class="first-sect__button">
            <div class="button-over">лучшие предложения</div>
        </div>
        <div class="first-sect__buttSlider">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section>